*,
*::before,
/* Global Reset */
*::after {
  margin: 0;
  padding: 0;
}

*::selection {
  color: initial;
  background-color: transparent;
}

* {
  cursor: default;
}

/* Page overall */

:root {
  --bg: #747474;
  --main: silver;
  --secondary: darkgray;
  --dark: #000000;
  --display: darkgreen;
  --display-text: #000000;
  --delete: red;
}

body {
  background-color: var(--bg);
  color: var(--main);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: var(--main);
}

main {
  box-shadow: 0 8px 0 0 black;
}

/* buttons */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.add {
  grid-column: 4;
  grid-row: 2;
}

.substract {
  grid-column: 4;
  grid-row: 3;
}

.multiply {
  grid-column: 4;
  grid-row: 4;
}

.divide {
  grid-column: 4;
  grid-row: 5;
}

.buttons {
  padding: 16px;
  gap: 16px;
}

.first-row,
.second-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 1 / -1;
}

.third-row {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fourth-row {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: fit-content;
}

.zero {
  grid-column: 1;
}

/* screen */

.screen {
  color: var(--display-text);
  background-color: var(--display);
  width: 100%;
}

.previous-result {
  opacity: 50%;
  font-size: 16px;
}

.current-result {
  font-size: 32px;
}

.results {
  text-align: right;
  padding: 16px 32px;
}

/* buttons */

.btn {
  color: var(--dark);
  background-color: var(--secondary);
  cursor: pointer;
  width: 64px;
  height: 64px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
}

.btn:hover {
  margin: 1.5%;
  height: 96%;
  width: 96%;
  transition: 500ms;
  box-shadow: 0 8px 0 0 black;
}

.btn:active {
  margin: 3%;
  height: 92%;
  width: 92%;
  transition: 200ms;
  box-shadow: 0 4px 0 0 black;
}
