*,
*::before,
/* Global Reset */
*::after {
  margin: 0;
  padding: 0;
}

* {
  user-select: none;
}

/* global */

body {
  background-color: #073b4c;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 100vh;
}

/* Calculator */

.calculator {
  display: grid;
  gap: 16px;
  color: white;
  grid-template-columns: repeat(4, 1fr);
}

.calculator .btn {
  text-align: center;
}

.results {
  padding: 16px;
  text-align: right;
  grid-column: 1 / -1;
}

/* buttons */

.btn {
  font-size: 24px;
  padding: 16px;
  background-color: #118ab2;
  width: 32px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  cursor: pointer;
}

.operator {
  background-color: #ffd166;
}

.btnCE {
  background-color: #ef476f;
  grid-column: 1 / span 2;
  width: auto;
}

.btnC {
  background-color: #ef476f;

  grid-column: 3 / span 2;
  width: auto;
}

.equal {
  grid-column: 3 / span 2;
  width: auto;
  background-color: #1fb7ea;
}

/* result screen */

.results {
  background-color: #06d6a0;
}

.previousNumber {
  font-size: 20px;
}

.currentNumber {
  font-size: 40px;
}
